.counter {
  width: 300px;
  margin: 0 auto;
  background-color: beige;
}
.counter h1 {
  width: fit-content;
  margin: auto;
}
.counter button {
  width: 40px;
  margin: auto;
  display: block;
}
.counter h3 {
  width: 300px;
  text-align: center;
  margin: 0 auto;
}
.Password {
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(198, 253, 253);
  margin-bottom: 15px;
}
.sucess {
  background-color: rgb(148, 201, 148);
}
.fail {
  background-color: rgb(226, 161, 161);
}
.basic {
  background-color: rgb(235, 235, 235);
}
.App {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
